{% for lproducto in lista_producto %}
	<tr>
		<td>{{ lproducto.prod_nombre }}</td>
		<td>{{ lproducto.prod_cod }}</td>
		<td>{{ lproducto.prod_valor }}</td>
		<td>
			<a class="btn_dele_cont cur_poin text-danger" data-id="{{ lproducto.id }}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="red-text small material-icons ">cancel</i></a>
			<a class="btn_test cur_poin" href="{{ url('admin_producto_editar',{id:lproducto.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="small material-icons ">mode_edit</i></a>
		</td>
	</tr>
{% endfor %}