{% for lvendedor in lista_vendedor %}
	<tr>
		<td>{{ lvendedor.primer_nombre }}</td>
		<td>{{ lvendedor.apellido_paterno }}</td>
		<td>{{ lvendedor.email }}</td>
		<td>{{ lvendedor.celular }}</td>
		<td>
			<a class="btn_dele_cont cur_poin text-danger" data-id="{{ lvendedor.id }}" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="red-text small material-icons ">cancel</i></a>
			<a class="btn_test cur_poin" href="{{ url('admin_vendedor_editar',{id:lvendedor.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="small material-icons ">mode_edit</i></a>
		</td>
	</tr>
{% endfor %}