{% extends 'admin.html.twig' %}

{% block body %}
	<div class="container">
		<!-- bloque superior -->
		<div class="row">
			<div class="col-sm-12 col-md-6">
                <div class="row"><h4>{{ titulo }}</h4></div>
            </div>
			<div class="col-sm-12 col-md-6 text-right">
				<a href="{{ url('admin_pedido') }}" class="btn btn-system btn-per" data-toggle="tooltip" data-placement="bottom" title="Atras"><i class="material-icons">arrow_back</i></a>
			</div>
		</div>
		<!-- bloque superior fin-->

		<!-- contenido -->
		<div class="row">
			<div role="tab-block">
				<!-- Tabs Navigation -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#datos-pedido-tab" aria-controls="datos-pedido-tab" role="tab" data-toggle="tab">Datos Pedido</a></li>
                </ul>
				<!-- Tab Content Panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="datos-pedido-tab">
						<div class="admin-form theme-default theme-info">
							<div class="panel heading-border panel-default panel-info">
                    			<div class="panel-body bg-light">
									<form id="form_datos_empresa" action="{{ url('admin_pedido_guardar') }}" method="post" enctype="multipart/form-data" novalidate="novalidate">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group col-sm-12 col-lg-3">													
                        							<label class="field append-icon">
                        								<div class="dropdown">
                            								<input type="text" name="bsq_empre_pedido" id="bsq_empre_pedido" class="gui-input dropdown-toggle" data-toggle="dropdown" placeholder="Busqueda de empresa">
                            								<ul id="lista_empre_cot" aria-labelledby="bsq_empre_pedido" class="dropdown-menu" role="menu"></ul>
                            							</div>
                            							<label for="bsq_empre_pedido" class="field-icon">
                              									<i class="fa fa-search"></i>
                            							</label>
                          							</label>
                    							</div>
												<div class="input-group form-group col-sm-12 col-lg-3 pull-right">
												  	<span class="input-group-addon">Cot n°:</span>
												  	<input type="text" class="gui-input" name="n_cot" id="n_cot" disabled>
												</div>
											</div>
										</div>
										<div class="section-divider mb40">
                    					  	<span>Datos Empresa</span>
                    					</div>
										<input type="hidden" name="empre_id" id="empre_id" value="{{ data.id is defined ? data.id}}" >
										<div class="row">
											<div class="form-group col-sm-12 col-lg-3">
												<label class="field">
												    <input type="text" placeholder="Nombre de fantas&iacute;a" name="empre_nombre" id="empre_nombre" class="gui-input" value="{{data.nombre is defined ? data.nombre}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-lg-3">
												<label class="field">
												    <input type="text" placeholder="Razon Social" name="empre_razon_soc" id="empre_razon_soc" class="gui-input" value="{{data.rsocial is defined ? data.rsocial}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-3">
												<label class="field">
												    <input type="text" placeholder="Rut / Run" name="empre_rut" id="empre_rut" class="gui-input val_num" value="{{data.rut is defined ? data.rut}}" disabled>
												</label>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Comuna" name="empre_comuna" id="empre_comuna" class="gui-input" value="{{data.comuna is defined ? data.comuna}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Provincia" name="empre_provincia" id="empre_provincia" class="gui-input" value="{{data.provincia is defined ? data.provincia}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Region" name="empre_region" id="empre_region" class="gui-input" value="{{data.region is defined ? data.region}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Calle" name="empre_calle" id="empre_calle" class="gui-input" value="{{data.dir_calle is defined ? data.dir_calle}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Numero" name="empre_nume" id="empre_nume" class="gui-input val_num" value="{{data.dir_numero is defined ? data.dir_numero}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Villa / Poblacion" name="empre_villa_pobl" id="empre_villa_pobl" class="gui-input" value="{{data.dir_villa_pobl is defined ? data.dir_villa_pobl}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="N° Departamento" name="empre_num_dpto" id="empre_num_dpto" class="gui-input val_num" value="{{data.dir_numero_depto is defined ? data.dir_numero_depto}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Piso dpto." name="empre_dpto_piso" id="empre_dpto_piso" class="gui-input val_num" value="{{data.dir_numero_piso is defined ? data.dir_numero_piso}}" disabled>
												</label>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Telefono" name="empre_telefono" id="empre_telefono" class="gui-input val_num" value="{{data.telefono is defined ? data.telefono}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="text" placeholder="Celular" name="empre_celular" id="empre_celular" class="gui-input val_num" value="{{data.celular is defined ? data.celular}}" disabled>
												</label>
											</div>
											<div class="form-group col-sm-12 col-md-2">
												<label class="field">
												    <input type="email" placeholder="Email" name="empre_mail" id="empre_mail" class="gui-input" value="{{data.email is defined ? data.email}}" disabled>
												</label>
											</div>
										</div>

										<div class="row" id="contacto" style="display: none;">
											<div class="section-divider mb40" >
                    					  		<span>Contacto Asociado a Pedido</span>											
                    						</div>
											<div class="form-group col-sm-12 col-lg-6">
												<label class="field">
													Contactos asociados a la empresa seleccionada
												</label>
												<label class="field select">
													<select id="lista_contactos_cot" name="lista_contactos_cot" class="form-control" required>
														<option value="{{data.region is defined? data.region}}"> {{ data.region is defined? nombreRegion: "Seleccione" }}</option> 
														{% for lista_contactos in lista_contactos %}
															<option id="seleccion" name="seleccion" value={{lista_contactos.id}}>{{lista_contactos.regNombre}}</option>
														{% endfor %}
													</select>
													<i class="arrow"></i>
												</label>
											</div>				
											<div class="form-group col-sm-6">							
												<!-- Button trigger modal -->											
												<button type="button"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
													Ingresar Contacto
												</button>
											</div>

											<!-- Modal -->
											<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h5 class="header2"><i class="material-icons">person_add</i> Nuevo Contacto</h5>
														</div>
														<div class="modal-body">
															<div class="panel">
																<div class="panel-heading">
																	<h5 class="header2"><i class="material-icons" style="vertical-align: bottom;">create</i> Ingreso de datos</h5>
																<form id="form_nuevo_cliente" class="modalForm" action="" method="post" enctype="multipart/form-data">
																	<div class="row">
																		<div class="col-md-6 col-lg-6">
																			<div class="row">																				
																				<div class="form-group col-md-6">                                           
																					<label class="field">
																						Run
																						<input type="text" name="contacto_run" id="contacto_run" class="gui-input" value="" required>
																					</label>
																				</div>																				
																			</div>
																		</div>  
																	</div>
																	<div class="row">																	    
																		<div class="col-md-6 col-lg-6">
																			<div class="row">																				
																				<div class="form-group col-md-6">                                           
																					<label class="field">
																						Primer Nombre
																						<input type="text" name="contacto_pri_nomb" id="contacto_pri_nomb" class="gui-input" value="" required>
																					</label>
																				</div>
																				<div class="form-group col-md-6">
																					<label class="field">
																						Segundo Nombre
																						<input type="text" name="contacto_seg_nomb" id="contacto_seg_nomb" class="gui-input" value="" >
																					</label>
																				</div>
																			</div>
																		</div>                                    
																		<div class="col-md-6 col-lg-6">
																			<div class="row">
																				<div class="form-group col-md-6">
																					<label class="field">																						Apellido Paterno
																						<input type="text" name="contacto_ape_pate" id="contacto_ape_pate" class="gui-input" value="" required>
																					</label>
																				</div>
																				<div class="form-group col-md-6">
																					<label class="field">
																						Apellido Materno
																						<input type="text" name="contacto_ape_mate" id="contacto_ape_mate" class="gui-input" value="" required>
																					</label>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-6 col-lg-6">
																			<div class="row">
																				<div class="form-group col-sm-12 col-lg-6">
																					<label class="field">
																						Email
																						<input type="text" name="contacto_email" id="contacto_email" class="gui-input" value="" >
																					</label>
																				</div>
																				<div class="form-group col-sm-12 col-lg-6">
																					<label class="field">
																						Tel&eacute;fono		
																						<input type="text" name="contacto_fono" id="contacto_fono" class="gui-input val_num" value="" required>
																					</label>
																				</div>
																			</div>
																		</div>
																		<div class="form-group col-sm-12 col-lg-6">
																			<label class="field">
																				Cargo en la empresa
																				<input type="text" name="contacto_cargo" id="contacto_cargo" class="gui-input" value="" required>
																			</label>
																		</div>
																		<div class="form-group col-sm-12">
																			<label class="field">Observaciones</label>
																			<label class="field prepend-icon">
																				<textarea class="gui-textarea" id="contacto_obs" name="contacto_obs"></textarea>
																				<label for="contacto_obs" class="field-icon"><i class="fa fa-comments"></i></label>                                            
																			</label>
																		</div>													   
																	</div>																
																</form>	
															</div>																
														</div>																												
													</div>
													<div class="modal-footer">
														<div class="col-sm-12 text-right">
															<button id="guardar_contacto" type="submit" class="btn btn-success ">Guardar <i class="fa fa-save"></i></button>
															<button id="cancelar_contacto" class="btn btn-warning ">Cancelar <i class="fa fa-ban"></i></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>									
										<div  id="prod_empresa" style="display: none;" class="row" >
											<div class="section-divider mb40" >
												<span>Ingreso de productos  / servicios</span>											
											</div>
                                           <div class="form-group col-md-6 " > 
                                               <h5><i class="material-icons" style="vertical-align: bottom;">domain</i> Agregar Producto / Servicio</h5>
												<label class="field append-icon">
													<div class="dropdown">
														{# <input type="hidden" name="prod_id" id="prod_id" value="" >  #}
														<input type="hidden" name="ped_id" id="ped_id" value="" >
														<input  type="text" id="bsq_producto" name="buscar" class="form-control dropdown-toggle" data-toggle="dropdown">
															<ul id="lista_producto" aria-labelledby="bsq_producto" class="dropdown-menu" role="menu" data-cont="{{ data.id is defined ? data.id}}"></ul>
													</div>
													<label for="bsq_producto" class="field-icon">
														<i class="fa fa-search"></i>
													</label>
												</label>														
											</div>
                                       	</div>
										<div class="section-divider mb40">
                    					  	<span>Listado de productos / servicios</span>
										</div>                                             
										
                    					<div class="row">
                    						<div class="col-md-12">
												<!-- bloque busqueda / filtros -->
												<!-- bloque busqueda / filtros fin-->												
												<!-- bloque tabla -->
												<div class="table-responsive">
													<table class="table table-striped" id="dT_pedido">
														<thead>
															<tr>
															 	<th>#</th>
															 	<th>Producto</th>
																<th>Descripcion</th> 
																<th class="text-right">Valor Unitario Base</th>
															 	<th class="text-right">Cantidad</th>
															 	<th class="text-right">Valor Cotizacion</th> 
															 	<th class="text-right">Total por Producto</th>
															</tr>
														</thead>
														<tbody>															
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<!-- Modal -->
											<div class="modal fade bs-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
																<h4 class="header2"><i class="material-icons">mode_edit</i>Actualizacion datos de producto</h4>
														</div>
														<div class="modal-body">
															<div class="panel">
																<div class="panel-heading">
																	<h4 class="header2"><i class="material-icons" style="vertical-align: bottom;">create</i> Ingreso de datos opcionales</h4>	
																	<div class="section-divider mb40">
																		<span></span>
																	</div> 															
																<form id="op" class="modalForm2" action="" method="post" enctype="multipart/form-data">
																	<input type="hidden" name="detalle" id="detalle" value="{{ data.id is defined ? data.id}}" >
																	<div class="row">
																		<div class="col-md-6 col-lg-12">
																			<div class="form-group col-sm-12">
																				<label class="field">Observaciones</label>
																				<label class="field prepend-icon">
																					<textarea class="gui-textarea" id="obs" name="obs"></textarea>
																					<label for="obs" class="field-icon"><i class="fa fa-comments"></i></label>
																				</label>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="form-group col-sm-12 col-md-6 col-md-offset-2">
																			<label class="field">
																				Opciones producto
																			</label>
																			<label class="field select">
																				<select id="opciones" name="opciones" class="form-control" required>
																					<option value="0" selected>Seleccione</option>
																				</select>
																				<i class="arrow"></i>
																			</label>	
																			{# modal																		 #}
																			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

																			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
																			<div class="modal-dialog modal-lg">
																				<div class="modal-content">
																						
																				</div>
																			</div>
																			</div>																																
																		</div>																		
																	</div>		
																	<div id="viewOpciones" class="row" style="display:none">
																		<div class="col-md-12">	
																			<div class="col-md-6 col-md-offset-1">																			
																				<div id="divLargo" class="form-group col-md-3" style="display:none">
																					<label class="field">
																						Largo
																						<input type="number" min="1"  name="largo" id="dimensiones" class="gui-input" value="" onchange="actualizaValor()">
																					</label>
																				</div>
																				<div id="divAncho" class="form-group col-md-3" style="display:none">
																					<label class="field">
																						Ancho
																						<input type="number" min="1" name="ancho" id="dimensiones" class="gui-input" value="" onchange="actualizaValor()">
																					</label>
																				</div>
																				<div  id="divPeso" class="form-group col-md-3" style="display:none">
																					<label class="field">
																						Peso
																							<input type="number" min="1"name="peso" id="peso"  class="gui-input" value=""  onchange="actualizaValor()">
																					</label>
																				</div>
																			</div>
																			<div id="divCalculos" class="form-group col-md-5" style="display:none"></div>	
																			<div class="col-md-4 col-md-offset-5">
																				<button  id="boton-guardar-opcion-dimensiones" disabled="true" type="button" class="btn btn-primary">Guardar</button>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-md-6 col-lg-12">
																			<h4><i class="material-icons">playlist_add_check</i> Detalle de Producto</h4>
																			<div class="section-divider mb40"><span></span></div>
																			<div class="row col-md-offset-1">
																				<h4>Opciones Seleccionadas</h4>
																				<div id="click_opcion" class="click_opcion ">
																				</div>
																			</div>
																			<div class="col-md-4 col-md-offset-4">
																				<label class="field">
																					Valor Total:
																					<input type="text" name="valor" id="valor" class="gui-input" disabled="true">
																				</label>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
													<div class="modal-footer">
														<div class="col-sm-12 text-right">
															<button type="button" class="btn btn-primary">Guardar Cambios</button>
															<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
														</div>
													</div>
												</div>
											</div>
									</form>
                        		</div>
                        		<div class="panel-footer text-right">
                        			<button id="guardar_empresa" class="btn btn-success ">Guardar <i class="fa fa-save"></i></button>
                        			<button id="cancelar_empresa" class="btn btn-warning ">Cancelar <i class="fa fa-ban"></i></button>
                        		</div>
                        	</div>
                        </div>
					</div>
                </div>
			</div>
		</div>
		<!-- contenido fin-->
	</div>
{% endblock %}

{% block javascripts %}	
 

	<script src="{{ absolute_url(asset('assets/js/module/pedido/nuevo.js')) }}"></script>
{% endblock %}