{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <!-- bloque superior -->
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row"><h4>{{ titulo }}</h4></div>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
                <a href="{{ url('admin_personal') }}" class="btn btn-system btn-per" data-toggle="tooltip" data-placement="bottom" title="Atras"><i class="material-icons">arrow_back</i></a>
            </div>
        </div>
        <!-- bloque superior fin-->

        <!-- contenido -->
        <div class="row">
            <div role="tab-block">
                <!-- Tabs Navigation -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#datos-personal-tab" aria-controls="datos-personal-tab" role="tab" data-toggle="tab">Datos Contacto</a></li>                    
                </ul>
                <!-- Tab Content Panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="datos-personal-tab">
                        <div class="admin-form theme-default theme-info">
                            <div class="panel heading-border panel-default panel-info">
                                <div class="panel-body bg-light">
                                    <form id="form_nuevo_personal" class="" action="{{ url('admin_personal_guardar') }}" method="post" enctype="multipart/form-data"  data-toggle="validator">
                                        <div class="section-divider mb40">
                                            <span>Datos del personal</span>
                                        </div>
                                        
                                        <input type="hidden" name="personal_id" id="personal_id" value="{{ data.id is defined ? data.id}}" >                          
                                        <div class="row">                                                                        
                                            <div class="form-group col-sm-12 col-lg-3">
                                                <label class="field">
                                                    Primer Nombre
                                                    <input type="text" name="primer_nombre" id="primer_nombre" class="gui-input" value="{{data.primer_nombre is defined ? data.primer_nombre}}" autocomplete="off" required>
                                                </label>
                                            </div>                                            
                                            <div class="form-group col-sm-12 col-lg-3">
                                                <label class="field">
                                                    Segundo Nombre
                                                    <input type="text" name="segundo_nombre" id="segundo_nombre" class="gui-input" value="{{data.segundo_nombre is defined ? data.segundo_nombre}}" autocomplete="off">
                                                </label>
                                            </div>
                                            <div class="form-group  col-sm-12 col-md-3">
                                                <label class="field">
                                                    Apellido Paterno 
                                                    <input type="text" name="apellido_paterno" id="apellido_paterno" class="gui-input" value="{{data.apellido_paterno is defined ? data.apellido_paterno}}" autocomplete="off" required>
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Apellido Materno
                                                    <input type="text" name="apellido_materno" id="apellido_materno" class="gui-input" value="{{data.apellido_materno is defined ? data.apellido_materno}}" autocomplete="off" required>
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Cedula de Identidad
                                                    <input type="text" name="dni" id="dni" class="gui-input val_num" value="{{data.dni is defined ? data.dni}}" autocomplete="off" required>
                                                </label>
                                            </div>                                            
                                            <div class="form-group col-sm-12 col-md-3"> <!-- Date input -->
                                                <label class="field"  for="fecha_nacimiento">
                                                    Fecha Nacimiento
                                                    <div class="input-group date">
                                                        <input  type="text" name="fecha_nacimiento"  id="fecha_nacimiento"  class="gui-input" value="{{data.fecha_nacimiento is defined ? data.fecha_nacimiento }}"  required>
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                                    </div>
                                                </label>
                                            </div>                                          
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Sexo
                                                </label>
                                                <label class="field select">
                                                    <select id="sexo" name="sexo" required>
                                                        <option value="{{data.sexo is defined ? data.sexo}}">{{data.sexo is defined ? sexo : "Seleccione"}}</option>
                                                        <option   value="1">Hombre</option>
                                                        <option   value="2">Mujer</option>
                                                    </select>
                                                    <i class="arrow"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="section-divider mb40">
                                            <span>Datos de Contacto</span>
                                        </div>
                                        <div class="row">{# divs dependientes si la empresa no esta cargada#}
												<input type="hidden" name="id_region" id="id_region" value="{{ data.region is defined ? data.region}}" >							
												<div class="form-group col-sm-12 col-md-3">
													<label class="field">
														Region
                                                    </label>
                                                    <label class="field select">
														<select id="regiones" name="regiones" class="form-control" required>
														{% if data.region is defined  %}
															<option value="{{data.region is defined? data.region}}"> {{ data.region is defined? nombreRegion }}</option> 
														{% endif %}
															<option value="">Seleccione Region</option> 

															{% for lista_regiones in lista_regiones %}
																<option id="seleccion" name="seleccion" value={{lista_regiones.regIdPk}}>{{lista_regiones.regRomano ~" "~ lista_regiones.regNombre}}</option>
															{% endfor %}
														</select>
                                                        <i class="arrow"></i>
													</label>
												</div>
												<input type="hidden" name="id_provincia" id="id_provincia" value="{{ data.provincia is defined ? data.provincia}}" >							
												<div id="provincia" class="form-group col-sm-12 col-md-3" style={{data.provincia is not defined ? "display:none;" : " "}}>
													<label class="field">
														Provincia
                                                    </label>
                                                    <label class="field select">
														<select id="provincias" name="provincias" class="form-control" required>
															{% if data.provincia is defined  %}
																<option value="{{data.provincia is defined? data.provincia}}"> {{ data.provincia is defined? nombreProvincia }}</option> 
															{% endif %}   
															<option value="">Seleccione Provincia</option> 
																{% for lista_provincias in lista_provincias %}
																	<option id="seleccion" name="seleccion" value={{lista_provincias.proIdPk}}>{{lista_provincias.proNombre}}</option>
																{% endfor %}
														</select>
                                                        <i class="arrow"></i>
	
													</label>
												</div>
												<input type="hidden" name="id_comuna" id="id_comuna" value="{{ data.comuna is defined ? data.comuna}}" >							
												<div  id="comuna" class="form-group col-sm-12 col-md-3" style={{data.comuna is not defined ? "display:none;" : " "}}>
													<label class="field">
														Comuna
                                                    </label>
                                                    <label class="field select">
														<select id="comunas" name="comunas" class="form-control" required>
															{% if data.comuna is defined  %}
																<option value="{{data.comuna is defined? data.comuna}}"> {{ data.comuna is defined? nombreComuna }}</option> 
															{% endif %}
																<option value="">Seleccione Comuna</option>
																{% for lista_comunas in lista_comunas %}
																	<option id="seleccion" name="seleccion" value={{lista_comunas.comIdPk}}>{{lista_comunas.comNombre}}</option>
																{% endfor %}
														</select>
                                                        <i class="arrow"></i>										
													</label>
												</div>									
										</div>
                                        <div class="row">
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Calle
                                                    <input type="text" name="dir_calle" id="dir_calle" class="gui-input" value="{{data.dir_calle is defined ? data.dir_calle}}" required>
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-12 col-md-2">
                                                <label class="field">
                                                    Numero
                                                    <input type="text" name="dir_numero_casa" id="dir_numero_casa" class="gui-input val_num" value="{{data.dir_numero_casa is defined ? data.dir_numero_casa}}" required>
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Villa / Poblacion
                                                    <input type="text" name="dir_villa_pobl" id="dir_villa_pobl" class="gui-input" value="{{data.dir_villa_pobl is defined ? data.dir_villa_pobl}}">
                                                </label>
                                            </div>                                          
                                            <div class="form-group col-sm-12 col-md-2">
                                                <label class="field">
                                                    N° Departamento
                                                    <input type="text" name="dir_numero_depto" id="dir_numero_depto" class="gui-input val_num" value="{{data.dir_numero_depto is defined ? data.dir_numero_depto}}">
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-12 col-md-2">
                                                <label class="field">
                                                    Piso dpto.
                                                    <input type="text" name="dir_numero_piso" id="dir_numero_piso" class="gui-input val_num" value="{{data.dir_numero_piso is defined ? data.dir_numero_piso}}" >
                                                </label>
                                            </div>                                          
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Telefono
                                                    <input type="text" name="telefono" id="telefono" class="gui-input val_num" value="{{data.telefono is defined ? data.telefono}}" >
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Celular
                                                    <input type="text" name="celular" id="celular" class="gui-input val_num" value="{{data.celular is defined ? data.celular}}" required>
                                                </label>
                                            </div>
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Email
                                                    <input type="email" name="email" id="email" class="gui-input" value="{{data.email is defined ? data.email}}" required>
                                                </label>
                                            </div>                                         
                                            <div class="form-group col-sm-12 col-md-3">
                                                <label class="field">
                                                    Skype
                                                    <input type="text" name="skype" id="skype" class="gui-input" value="{{data.skype is defined ? data.skype}}">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="section-divider mb40">
                                            <span>Area de Desarrollo</span>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <input type="hidden" name="id_departamento" id="id_departamento" value="{{ data.region is defined ? data.region}}" >							
												<div class="form-group col-sm-12 col-md-3">
													<label class="field">
														Departamento
                                                    </label>
                                                    <label class="field select">
														<select id="departamentos" name="id_departamento" class="form-control" required>
														{% if data.region is defined  %}
															<option value="{{data.depa is defined? data.depa}}"> {{ data.depa is defined? nombreDepartamento }}</option> 
														{% endif %}
														<option value="">Seleccione</option>
															{% for lista_departamento in lista_departamento %}
																<option id="seleccion" name="seleccion" value={{lista_departamento.id}}>{{lista_departamento.nombre}}</option>
															{% endfor %}
														</select>
                                                        <i class="arrow"></i>	
													</label>
                                                </div>
                                                <input type="hidden" name="id_area" id="id_area" value="{{ data.area is defined ? data.area}}" >							
												<div id="area" class="form-group col-sm-12 col-md-3"  style={{data.area is not defined ? "display:none;" : " "}}>
													<label class="field">
														Area
                                                    </label>
                                                    <label class="field select">
														<select id="areas" name="areas" class="form-control" required>
															{% if data.area is defined  %}
																<option value="{{data.area is defined? data.area}}"> {{ data.area is defined? nombreArea }}</option> 
															{% endif %}   
															<option value="">Seleccione </option> 
																{% for lista_area in lista_area %}
																	<option id="seleccion" name="seleccion" value={{lista_area.id}}>{{lista_area.Nombre}}</option>
																{% endfor %}
														</select>
                                                        <i class="arrow"></i>		
													</label>
												</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <label class="field">
                                                    Observaciones
                                                </label>
                                                <label class="field prepend-icon">
                                                    <textarea class="gui-textarea" id="obs" name="obs">{{ data.obs is defined ? data.obs}}</textarea>
                                                    <label for="obs" class="field-icon"><i class="fa fa-comments"></i></label>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- imagen carga-->
                                        {% if data.imagen is defined and data.imagen is not empty %}
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <div >
                                                    <img style="max-width: 100%;" src="{{ absolute_url(asset('uploads/personal/'~data.imagen)) }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <!-- imagen ingreso-->
                                        <div class="row">
                                            <div class="input-field col-sm-3">
                                                <label class="field prepend-icon append-button file">
                                                    <span class="button btn-primary">Elija un archivo</span>
                                                    <input type="file" class="gui-file" name="empre_img" id="empre_img" onChange="document.getElementById('uploader2').value = this.value;">
                                                    <input type="text" class="gui-input" id="uploader2" name="uploader2">
                                                    <label class="field-icon"><i class="fa fa-upload"></i></label>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer text-right">
                                    <button id="guardar_personal" class="btn btn-success ">Guardar <i class="fa fa-save"></i></button>
                                    <a href="{{ url('admin_personal') }}" class="btn btn-warning " role="button">Cancelar<i class="fa fa-ban"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- contenido fin-->
    </div>
{% endblock %}

{% block javascripts %}
<!-- Bootstrap Date-Picker Plugin -->
    <script src="{{ absolute_url(asset('assets/js/datapicker/bootstrap-datepicker.min.js')) }}"></script>  
        <link rel="stylesheet" href="{{ absolute_url(asset('assets/js/datapicker/bootstrap-datepicker3.css')) }}"/>
        <script src="{{ absolute_url(asset('assets/js/datapicker/bootstrap-datepicker.es.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/js/rut/jquery.rut.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/js/module/personal/nuevo.js')) }}"></script>
{% endblock %}