{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <!-- bloque superior -->
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row"><h4>{{ titulo }}</h4></div>
            </div>
            <div class="col-sm-12 col-md-6 text-right">
                <a href="{{ url('admin_categorias') }}" class="btn btn-system btn-per" data-toggle="tooltip" data-placement="bottom" title="Atras"><i class="material-icons">arrow_back</i></a>
            </div>
        </div>
        <!-- bloque superior fin-->

        <!-- contenido -->
        <div class="row">
            <div role="tab-block">
                <!-- Tabs Navigation -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#datos-vendedor-tab" aria-controls="datos-vendedor-tab" role="tab" data-toggle="tab">Datos Categoria</a></li>
                </ul>
                <!-- Tab Content Panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="datos-vendedor-tab">
                        <div class="admin-form theme-default theme-info">
                            <div class="panel heading-border panel-default panel-info">
                                <div class="panel-body bg-light">
                                    <form id="form_nueva_categoria" class="" action="{{ url('admin_categorias_guardar') }}" method="post" enctype="multipart/form-data" novalidate="novalidate">
                                        <div class="section-divider mb40">
                                            <span>Datos de la Categoria</span>
                                        </div>
                                        
                                        <input type="hidden" name="cat_id" id="cat_id" value="{{ data.cat_id is defined ? data.cat_id}}" required>                          
                                        
                                        <div class="row">
                                            <div class="form-group col-sm-12 col-lg-3">
                                                <label class="field">
                                                    Nombre
                                                    <input type="text" name="cat_nombre" id="cat_nombre" class="gui-input" value="{{data.cat_nombre is defined ? data.cat_nombre}}">
                                                </label>
                                            </div>   
                                            <div class="form-group col-sm-12 col-lg-3">
                                                <label class="field">
                                                    Fecha Ingreso                                                   
                                                           <input type="text" name="cat_fechaIngreso" disabled="true" id="cat_fechaIngreso" class="gui-input" value="{{ data.cat_fechaIngreso is defined ? data.cat_fechaIngreso|date("m/d/Y") : fecha|date("m/d/Y") }}">
                                                </label>
                                            </div> 
                                            
                                        </div>                                      
                                        <!-- imagen carga-->
                                        {% if data.cat_imagen is defined and data.cat_imagen is not empty %}
                                        <div class="row">
                                            <div class="form-group col-sm-12">
                                                <div >
                                                    <img style="max-width: 100%;" src="{{ absolute_url(asset('uploads/categoria/'~data.cat_imagen)) }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <!-- imagen ingreso-->
                                        <div class="row">
                                            <div class="input-field col-sm-3">
                                                <label class="field prepend-icon append-button file">
                                                    <span class="button btn-primary">Elija un archivo</span>
                                                    <input type="file" class="gui-file" name="cat_imagen" id="cat_imagen" onChange="document.getElementById('upload_prod_i').value = this.value;">
                                                    <input type="text" class="gui-input" id="upload_prod_i" name="upload_prod_i">
                                                    <label class="field-icon"><i class="fa fa-upload"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="panel-footer text-right">
                                    <button id="guardar_categoria" class="btn btn-success ">Guardar <i class="fa fa-save"></i></button>
                                    <button id="" class="btn btn-warning ">Cancelar <i class="fa fa-ban"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#{% if edicion == 'true' %}
                    <div role="tabpanel" class="tab-pane fade" id="add-empresa-tab">
                        <div class="admin-form theme-default theme-info">
                            <div class="panel heading-border panel-default panel-info">
                                <div class="panel-body bg-light">
                                    <div class="col-sm-12">
                                        <h5><i class="material-icons" style="vertical-align: bottom;">person_add</i> Agregar contactos</h5>
                                        <div class="dropdown">                            
                                            <input type="text" id="busq_cont" name="buscar2" class="form-control dropdown-toggle" data-toggle="dropdown" aria-expanded="true">                            
                                            <ul id="lista_conta" aria-labelledby="busq_cont" class="dropdown-menu" role="menu" data-cont="{{ data.id is defined ? data.id}}"></ul>
                                        </div>
                                        <div class="admin-form">
                                            <div class="panel">
                                                <div class="panel-body">
                                                    <!-- se agregan las empresas para hacer el vinculo -->
                                                    <div id="contactos_div" class="cli-emp" >
                                                        {% if lista_contempre is defined %}
                                                            {% for lista_contempre in lista_contempre %}
                                                                <div class="valign-wrapper"><i class="material-icons del_btn_i pointer" data-id="{{ lista_contempre.id_contacto }}">remove_circle_outline</i>{{ lista_contempre.pri_nombre_fkcont }} {{ lista_contempre.seg_nombre_fkcont }} {{ lista_contempre.apellido_pate_fkcont }} {{ lista_contempre.apellido_mate_fkcont }}</div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}#}
                </div>
            </div>
        </div>
        <!-- contenido fin-->
    </div>
{% endblock %}

{% block javascripts %}      
        <script src="{{ absolute_url(asset('assets/js/module/categoria/nuevo.js')) }}"></script>
{% endblock %}